body {
  margin: 0;
  padding:0;
  /*text-align: center;*/
  display: flex;
  scroll-behavior: smooth;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body * {
  box-sizing: border-box;
}

table {
  box-sizing: border-box;
  border-radius: 10px;
  overflow: hidden;
  font-family: sans-serif;
  font-size: 1.2em;
  border: solid black 2px;
  border-collapse: collapse;
  margin: 10px auto;
  background-color: black;
}

td {
  width: 50px;
  height: 50px;
  text-align: center;
  border: solid black 1px;
}

tr {
  background-color: #eaecf0;
}

#screen {
  height: 80px;
  border: solid black 1px;
  text-align: right;
  font-size: 50px;
  padding: 0 10px;
  color: white;
  background-color: #575656;
  font-weight: 100;
  max-width: 200px;
}

#calculator-container {
  margin: 5px ;
  border:1px solid black;
  display: flex;
  flex-direction: column;
  background-color: #fff9e5;
}


.orange {
  background-color: orange;
  color:white;
  border-right: solid black 1px;
}

.darker {
  background-color: #bfbebe;
}

.pressed {
  background-color: red;
}



#replay {
  width: 100px;
  height: 20px;
  border-radius: 5px;
  margin-top: 10px;
}

.hide {
  visibility: hidden;
}

.hide:hover {
  visibility: visible;
}

.buttons {
  margin: 5px;
  text-align: right;
}

.buttons button {
  font-size: 1.3em;
  font-weight: lighter;
  letter-spacing: 2px;
  border: 1px solid black;
  background-color: #a29bfe;
  color: white;
}

/* Adjust the styling from the textFit package */
.textFitAlignVert {
  padding: 0 10px;
}
